.logo a {
    text-decoration: none;
}

.link {
    color: red;
}

.bg-form {
    background: rgb(231, 231, 231);
}

@media screen and (max-width: 576px){    
    .login-form {
        width: 90% !important;
    }
}