{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}    
    <form class="w-50 mx-auto bg-form p-3 rounded-1" href="{{ url_for('auth.password_change') }}" method="POST">
        <div class="mb-3">
          <label for="otp" class="form-label">OTP</label>
          <input type="text" class="form-control" name="otp" id="otp" aria-describedby="emailHelp" required>
        </div>        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter New Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Re-Enter Password</label>
            <input type="password" class="form-control" name="password_two" id="exampleInputPassword2" required>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}