{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}    
    <form class="w-50 mx-auto bg-form p-3 rounded-1" href="{{ url_for('auth.register') }}" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" required>
        </div>        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}