{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}    
    <form class="w-50 login-form mx-auto bg-form p-3 pb-2 rounded-1" href="{{ url_for('auth.password_change') }}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}