
<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <nav>
        <div class="text-center h1 logo"><a class="text-dark" href="{{ url_for('home') }}">Flask APP</a></div>
        <ul>
            {% if current_user.is_authenticated %}
                <div class="text-center h4">Hi {{ current_user.username }}!</div>
                <div class="col-12 text-center"><a class="bg-dark text-light btn w-50 border-light m-1" href="{{ url_for('auth.logout') }}">Logout</a></div>
                <div class="col-12 text-center"><a class="bg-dark text-light btn w-50 border-light m-1" href="{{ url_for('example.example') }}">Example</a></div>
            {% else %}
                <div class="row m-0 text-center">
                    <div class="col-12"><a class="bg-dark text-light btn w-50 border-light m-1" href="{{ url_for('auth.register') }}">Register</a></div>
                    <div class="col-12"><a class="bg-dark text-light btn w-50 border-light m-1" href="{{ url_for('auth.login') }}">Log In</a></div>                    
                </div>            
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash-message">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}      
        
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>       
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
</body>
</html>